.option-container{
    max-height: 300px;
}

.enable-label{
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

.progress-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}