.descript {
    resize: none;
}

.option-frame {
    max-height: 300px;
    overflow-y: auto;
}

.nofity{
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.error{
    border: 1px solid var(--bs-form-invalid-border-color);
}

.correct{
    border: 1px solid var(--bs-form-valid-border-color);
}