.descript {
    resize: none;
}

.option-frame {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

.nofity{
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

@media screen and (max-width: 992px) {
    .less-md-auto{
        width: auto;
    }
}