<div id="switch" data-switch-dark=<%= dark %> class="btn <%= dark ? "btn-light" : "btn-dark" %> position-fixed bottom-0 end-0 rounded-3 m-5">
    <i class="<%= !dark ? "bi bi-brightness-high-fill" : "bi bi-moon-fill" %>" id="switch-icon"></i>
</div>